* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* --------FONTS ------------------ */

@font-face {
    font-family: 'Ruhl';
    src: url(Fonts/FrankRuhlLibre-Regular.ttf);
}

@font-face {
    font-family: 'Ruhl Medium';
    src: url(Fonts/FrankRuhlLibre-Medium.ttf.ttf);
}

@font-face {
    font-family: 'Vibes';
    src: url(Fonts/GreatVibes-Regular.ttf);
}


/* -----------GENERAL ---------------------------------------------------- */

html {
    font-size: 62.5%;
    --header-1: calc(2rem + 1vw);
    --header-2: calc(3.5rem + 1vw);
    --header-3: calc(3rem + 1vw);
    --header-4: calc(2.5rem + 1vw);
    --text: calc(1.5rem + 1vw);
    --big: calc(6rem + 1vw);
    --special-color: #906272;
    --background-color: #414141;
    --gray-text: #525252;
}

h1 {
    font-size: var(--header-1);
    font-family: 'Vibes', sans-serif;
}

h2 {
    font-size: var(--header-2);
}

h3 {
    font-size: var(--header-3);
}

h4,
h5 {
    font-size: var(--header-4);
}

li,
button,
label,
input,
a,
p {
    font-size: var(--text);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

.flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body {
    font-family: 'Ruhl', sans-serif;
    animation: opening 1s ease-in-out;
}


/* -------------------------NAV-SECTION------------------------ */

.main-head {
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    position: relative;
    z-index: 3;
}

nav {
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    min-height: 10vh;
    padding: 2rem 0rem;
}

#logo {
    flex: 1 1 20rem;
}

.nav-links {
    flex: 1 1 20rem;
    display: flex;
    justify-content: space-around;
}


/* --------------------HERO-SECTION------------------------------------ */

.hero {
    min-height: 90vh;
    width: 95%;
    overflow: hidden;
    margin: 0 0 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.hero-introduction {
    flex: 2 1 40rem;
    text-align: center;
}

.hero-introduction p {
    padding: 5rem 10rem;
    color: var(--gray-text);
}

.hero-introduction h2 {
    padding-top: 3rem;
}

.hero-introduction a {
    padding: 2rem 8rem;
    margin-bottom: 4rem;
    border: 3px solid black;
}

.hero-images {
    flex: 1 1 40rem;
    background: linear-gradient(#dadadd, #dad1d4);
    position: relative;
    z-index: 1;
}

.hero-picsy {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.plant {
    position: absolute;
    bottom: 0;
    left: -20%;
    z-index: -1;
    animation: plant-opening 1.5s ease-in-out forwards 0.5s, plant-animation 2.5s infinite ease alternate-reverse 2s;
    ;
    transform: translateY(10%) rotateZ(10deg) rotateX(-90deg);
    transform-origin: bottom;
    max-height: 80%;
}

.plant2 {
    left: 40%;
}

.burger,
.menu-checkbox {
    display: none;
}


/* ---------------------ABOUT-SECTION---------------------------------- */

.about {
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
}

.about-text {
    background: var(--background-color);
    color: white;
    flex: 2 1 40rem;
    justify-content: space-around;
}

.about-text p {
    font-size: calc((var(--text)/100)*80);
}

.about-text h3 {
    font-family: 'Ruhl Medium';
    padding: 2rem 0rem;
}

.about-text h2 {
    font-family: 'Vibes';
    padding: 1rem;
}

.about-text div {
    padding: 3rem 8rem;
}

.about-image {
    flex: 1 1 40rem;
    position: relative;
}

.about-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about-image h5 {
    position: absolute;
    left: 50%;
    letter-spacing: 2rem;
    color: white;
    transform: translate(-50%, -50%);
    top: 20%;
}


/* ------------------------------IMAGE-GALLERY-SECTION----------------------------------- */

.gallery {
    display: grid;
    min-height: 100vh;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
}

.gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery-1 {
    grid-column: 1/3;
}

.gallery-2 {
    grid-column: 3/4;
    grid-row: 1/3;
}


/* -----------------------------------CONTACT-SECTION-------------------------------------- */

.contact {
    position: relative;
    min-height: 90vh;
    display: flex;
    flex-wrap: wrap;
}

.form-wrapper {
    flex: 3 1 40rem;
}

.form-wrapper span {
    font-size: var(--big);
    color: var(--special-color);
}

.form-wrapper h2 {
    margin: 5rem 0rem;
}

.form-wrapper label {
    display: block;
}

.form-wrapper button {
    padding: 1rem 8rem;
    background: var(--special-color);
    border: none;
    width: 100%;
    color: aliceblue;
}

.form-wrapper input {
    display: block;
    margin: 3rem 0rem;
    background: var(--background-color);
    color: aliceblue;
    border: none;
    padding: 1rem;
}

.contact img {
    object-fit: cover;
    flex: 1 1 40rem;
}


/* ----------------------FOOTER---------------------------- */

footer {
    background: var(--background-color);
    display: flex;
    flex-wrap: wrap;
    padding: 3rem 5%;
    color: white;
    align-items: center;
}

footer ul {
    display: flex;
    flex: 1 1 40rem;
    align-items: center;
    justify-content: space-between;
}

footer h4 {
    flex: 3 1 40rem;
    font-size: calc(1.4rem + 1vw);
}


/*----------------ANIMATIONS----------------  */

@keyframes opening {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes plant-opening {
    from {
        transform: translateY(10%) rotateZ(10deg) rotateX(-90deg);
    }
    to {
        transform: translateY(0%) rotateZ(0deg);
    }
}

@keyframes plant-animation {
    from {
        transform: rotateZ(5deg);
    }
    to {
        transform: rotate(0deg);
    }
}


/* --------------RESPONSIVENESS--------------------------- */

@media screen and (max-width: 845px) {
    .hero {
        width: 100%;
    }
    .hero-introduction p {
        padding: 5rem 3rem;
    }
    .burger {
        position: relative;
        display: block;
    }
    .burger span {
        padding: .2rem 2rem;
        margin: 0.5rem 0rem;
        background: var(--gray-text);
        display: block;
        transition: all 0.2s ease;
    }
    .nav-links {
        background: rgba(131, 113, 113, 0.8);
        backdrop-filter: blur(10px);
        height: 100%;
        width: 100%;
        position: fixed;
        left: 100%;
        top: 0;
        flex-direction: column;
        align-items: center;
        transition: all 1s ease;
    }
    .nav-links a {
        color: white;
        font-size: var(--header-4);
        text-decoration: underline;
    }
    .menu-checkbox {
        position: absolute;
        display: block;
        top: 50%;
        right: 5%;
        transform: translate(5%, -50%);
        width: 5rem;
        height: 5rem;
        cursor: pointer;
        opacity: 0;
        z-index: 100;
    }
    .menu-checkbox:checked+.nav-links {
        transform: translate(-100%);
    }
    .menu-checkbox:checked~.burger span {
        background: white;
    }
    .menu-checkbox:checked~.burger span:nth-child(1) {
        transform: rotateZ(45deg) translateY(300%);
    }
    .menu-checkbox:checked~.burger span:nth-child(2) {
        opacity: 0;
    }
    .menu-checkbox:checked~.burger span:nth-child(3) {
        transform: rotateZ(-45deg) translateY(-300%);
    }
    /*----------------------------------------------ABOUT SECTION------------------------------  */
    .about-text div {
        padding: 2rem 2rem;
    }
    .about-text p {
        font-size: var(--text);
    }
    /* -----------------------------------------IMAGE-GALLERY--------------------------------- */
    .gallery img {
        grid-column: auto;
        grid-row: auto;
    }
    .gallery {
        grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    }
    /* ------------------------------CONTACT------------------------------------ */
    .contact img {
        display: none;
    }
    /* -----------------------------------FOOTER------------------------------- */
    footer ul {
        order: 1;
        padding: 3rem;
    }
    footer h4 {
        order: 2;
        padding: 2rem;
        text-align: center;
    }
}

@media screen and (min-width: 1700px) {
    html {
        --header-1: 3.5rem;
        --header-2: 4.5rem;
        --header-3: 4rem;
        --header-4: 3.2rem;
        --text: 2.5rem;
        --big: 8rem;
    }
}