/* -------------------  VARIABLES-------------------------------- */

$background-black: #212121;
$background-blue2: #87b2c2;
$background-blue: #1e2a37;
$text-color-white: #dcf0ff;
$linear-gradient-green: linear-gradient(#20bf55, #01baef);
$linear-gradient-green2: linear-gradient(315deg, #3bb78f 0%, #0bab64 74%);
$linear-gradient-purpleish: linear-gradient(315deg, #5d4257 0%, #a5c7b7 74%);
$text-color-green-dark: #026144;
$text-color-green: #3bb78f;